.admission-content{
    background-color: hsl(204deg 66% 60%);
    width: 100%;
    margin-top: 10vh;
   margin-bottom: 4vh;
   padding-bottom: .5vh;
}
.admission-text{
    font-family: 'Al_Mushaf';
    font-size: 22px;
    padding-top: 0.5rem;
    color: #fff;
    text-align: center;
}
.test{
    width: 120%;
}
#admission-heading{
    font-size: 34px;
}
.cources-options{
    margin-left: -4.5vw;
}
.country-options{
    margin-left: -4.5vw;
}
.country-label{
    color: hsl(206deg 87% 38%);
    margin-right: 4vw;
}
.s-data{
    display: flex;
    justify-content: center;
}
.department{
    color: #fff;
}
.para{
    color: hsl(206deg 87% 38%);
}
.course-label{
    color: hsl(206deg 87% 38%);
    margin-right: 4vw;   
}
@media (max-width:470px) {
    #admission-heading{
        font-size: 20px;
    }
}
@media (max-width:1100px) {
    .test{
        width: 140%;
    }
}
@media (max-width:825px) {
    .test{
        width: 150%;
    }
}
@media screen and (max-width:690px) {
    .cont{
        margin-left: -50px;
    }
    .test{
        width: 170%;
    }
}
.formheading{
    font-size: 40px;
}
@media (max-width:800px) {
  .main_form{
    margin-left: -8vw;
  }
}

@media (max-width:590px) {
    .formheading{
        margin-left: 20vw;
        font-size: 18.5px;
    }
    .cources-options{
        width: 200px;
        margin-left: 8vw;
    }
    .country-options{
        width: 200px;
        margin-left: 8vw;
    }    
    .country-label{
        color: hsl(206deg 87% 38%);
        margin-left: 8vw;
    }
    .course-label{
        color: hsl(206deg 87% 38%);
        margin-left: 8vw;
    }
}
